<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="username">User name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <br/>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="password">
    <br/>
    <select name="nameRoles" multiple size="2">
        <option th:each="role : ${roles}"
                th:value="${role.name}"
                th:text="${role.getName()}">
        </option>
    </select>
    <input type="submit" value="Update user">
</form>
</body>
</html>