<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>All users</title>
</head>
<body>
<h2>Admin panel</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User name</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUser}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>
        <span th:each="role : ${user.getRoles()}">
            <span th:text="${role.getName()}"></span>
        </span>
        </td>
        <td><a th:href="@{admin/user-update/{id}(id=${user.id})}">
            <input type="submit" value="Update"/></a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{admin/user-delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>

</table>
</div>
<a th:href="@{admin/user-save}">
    <input type="submit" value="Create user"/>
</a>
<br>
<a th:href="@{/login}">
    <input type="submit" value="Exit"/>
</a>
</div>
</body>
</html>